# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment
.venv/

# Data
data/raw/Amatitlan
data/raw/Atitlan
data/processed/Amatitlan
data/processed/Atitlan
data/processed/estadisticas_por_fecha.csv

# AI
.claude/
.agents/